@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
}
.css-hjf969-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root.Mui-disabled {
  color: white;
  background-color: rgb(14, 13, 16);
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-color: #0367b5;
}
